@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lexend/v23/wlpwgwvFAVdoq2_v-6QU.woff2) format('woff2');
}

body {
    background-color: #f2f2f2;
    font-family: Roboto, sans-serif;
    color: #333;
    line-height: 1.4;
    text-align: justify;
}

h1, h2, h3 {
    margin: 10px auto;
    font-family: Lexend, sans-serif;
    font-weight: bold;
    text-align: center;
}

li, p {
    font-size:18px;
}

.content {
    margin: 25px auto;
    padding: 25px;
    max-width:600px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow:0 5px 10px rgba(0,0,0,.2),0 15px 40px rgba(0,0,0,.05)
}

.image {
    margin: 20.5px 0;
}

.header {
    display: grid;
	grid-template-columns: 1fr 3fr 1fr;
}

.horizontal {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}

.vertically-centered {
    display: flex;
    align-items: center;
    text-align: center;
}

.horizontally-centered {
    display: flex;
    justify-content: center;
    text-align: center;
}

.title {
    text-align: center;
    margin: 0 auto;
    color: #0c3a66
}

.buttons {
    display: flex;
	align-items: flex-start;
    justify-content: center;
    gap: 10px
}

.button {
    border: none;
    background-color: #0c3a66;
    color:white;
    width: 142.5px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.3s;
}

.button:hover {
    background-color: #196bc9;
}

.title-box {
    text-align: center;
    width: 100%;
    background-color: #0c3a66;
    color: #ffffff;
    overflow: hidden;
    border-radius: 10px;
    margin: 10px 0;
}