#no-match {
    display: none;
    background-color: #ff000080;
    padding: 10px;
    border-radius: 10px;
}

#search {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid darkgray;
    border-radius: 10px;
    width: 50%
}

.entry {
    margin-bottom: 10px;
    border: 1px solid darkgray;
    border-radius: 10px;
}

.compound-words {
    display: none;
}

.columns {
    display: grid;
	grid-template-columns: 1fr 1fr 3fr;
    padding: 10px
}

.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
}

/* When the checkbox is checked, move the slider */
input:checked + .slider {
    background-color: #0c3a66;
}

input:checked + .slider:before {
    transform: translateX(16px);
}
